.loader {
  /*свг и/или анимация*/
  height: 90px;
  width: 90px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: loadAnimation 2s;
}

@keyframes loadAnimation {
  0% {
    background-image: url('../../assets/loading-start.svg');
  }
  25% {
    background-image: url('../../assets/loading-50.svg');
  }
  50%{
    background-image: url('../../assets/loading-75.svg');
  }
  100% {
    background-image: url('../../assets/loading-100.svg');
  }
}