.stand {
    display: flex;
    justify-content: space-between;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 108px;
    margin-right: 334px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}
