.spanBlock {
  display: flex;
  align-items: start;
  gap: 20px;
}

.span {
  color: rgb(0, 128, 255);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  margin-top: 2px;

  overflow: hidden;
  white-space: pre-wrap;
  max-width: calc(272px - 44px);
  overflow-wrap: break-word;
}

.input {
  font-family: "Montserrat Variable", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  padding: 8px 24px 8px 24px;
  max-width: 270px;
}

.pen {
}