.App {
    --header_height: 60px;
    /*margin-top: 107px;*/
    /*margin-bottom: 136px;*/
    display: flex;
    flex-direction: column;
    /*gap: 64px;*/
}

.container {
    /*margin: 131px auto 0 auto;*/
}

.hw {
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    min-height: 300px;
    padding: 25px 400px 32px 400px;
}
.hw3{
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    min-height: 300px;
    padding: 90px 100px 50px 100px;
}
.hw4 {
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    min-height: 300px;
    padding: 90px 100px 50px 100px;
}
.hw2 {
    border-top: 1px solid rgb(217, 217, 217);
    border-bottom: 1px solid rgb(217, 217, 217);
    min-height: 400px;
    padding: 90px 100px 50px 100px;
}
.hw2Container{
    padding-bottom: 40px;
}

.hwTitle {
    font-family: 'Montserrat Variable', sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 9px;

}