.button {
    display: flex;
    align-items: center;
    font-family: 'Montserrat Variable', sans-serif;
    height: 30px;
    border-radius: 3px;
    padding: 5px 24px 5px 24px;
    color: white;
    border: 1px solid transparent;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0;
    text-align: center;
    cursor: pointer;
    transition: .3s;
}

.disabled {
    color: rgb(0, 46, 92);
    opacity: 0.4;
}

.secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(0, 102, 204);
    background: transparent;
    color: rgb(0, 102, 204);
}

.default {
    background: rgb(0, 102, 204);
    color: #fff;
}

.red {
    background: rgb(204, 20, 57);
}

.default:hover {
    background: rgb(0, 128, 255);
}

.red:hover {
    background: rgb(255, 26, 71);
}

.secondary:hover {
    background: #E5F0FA;
}


.default:active {
    background: rgb(0, 89, 179);
}

.secondary:active {
    background: rgb(201, 229, 255);
}

.red:active {
    background: rgb(179, 18, 50);
}

.button:disabled {
    cursor: not-allowed;
}
