.pagination {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-bottom: 36px;
  font-family: 'Roboto Variable', sans-serif;
}

.text1 {
  margin-right: 8px;
  margin-left: 6px;
}

.text2 {
  margin-left: 4px;
}
