.container {
  display: grid;
  row-gap: 26px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.number {
  margin-left: 10px;
  width: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
}
